{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": [".", "./client"]
    }]
  ],
  "env": {
    "production": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "react"
      ]
    },
    "test": {
      "plugins": ["transform-runtime"]
    }
  }
}
