{
  "presets": ["env", "react"],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "^@(.+)": "./\\1"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": ["transform-runtime"]
    }
  }
}
