# TMDb API Key - see https://developers.themoviedb.org/3
TMDB_API_V3_KEY=xxxxxxxxxxxxxxxxx

# URL to pull viewings data from
VIEWINGS_API_URL=/api/viewings/

# API URL for user data
USER_API_URL=/api/user/

# URL to search TMDB API
SEARCH_API_URL=/api/search/

# URL to get images from TMDb API
TMDB_IMG_URL=https://image.tmdb.org/t/p
